<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="csv" xsi:type="File" archiveDateFormat="yyyy-MM-dd-HHmmss" archiveAboveSize="10485760" maxArchiveFiles="14" archiveNumbering="DateAndSequence"
           fileName="d:/temp/filelog.log" concurrentWrites="false" enableArchiveFileCompression="true" archiveEvery="Day" keepFileOpen="false">
      <layout xsi:type="CSVLayout">
        <column name="Sequence" layout="${counter}" />
        <column name="Time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
        <column name="Thread" layout="${threadid}"/>
        <column name="Level" layout="${level}"/>
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=Type,Message,StackTrace:maxInnerExceptionLevel=5}" />
      </layout>
    </target>
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${callsite:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true}|${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed" backgroundColor="White" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="csv" />
    <logger name="*" minlevel="Debug" writeTo="csv" />
  </rules>
</nlog>